* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label,
p,
a,
h1,
h2,
h3,
h4,
h5,
summary {
  color: var(--textCol);
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

input {
  border: none;
  background-color: transparent;
}

input:focus {
  border: none;
  outline: none;
}

summary {
  list-style: none;
}

:root {
  --accentGray: #f6f6f5;
  --mainWhite: #fff;
  --bgGray: #f6f6f5;
  --ctaBrown: #bfabab;
  --textCol: #4d4d4d;
  --fadedText: #a9a9a9;
  --accentBrown: #9f938b;
}
